%h3
  #{@user.name}'s Collection

- if @user.owned_games.present?
  %table.table.table-striped.table-responsive
    %thead
      %tr
        %th
          Title
        %th
          Date Added
    %tbody
      - @user.owned_games.each do |game|
        %tr
          %td= game.title
          %td= game.possession.created_at.to_date

- else
  .alert.alert-info
    There are no games in your collection
