-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'

      %form.navbar-form.navbar-left{method: 'get', action: search_url}
        .form-group
          %input#search_term.form-control{type: "text", placeholder: "Super Bros. 8", name: "search_term"}
          %button.btn.btn-default{type: "submit"}
            Search
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
